.order-wrap {
    margin-top: 67px;
    height: 100%;
}

.order-wrap h1 {
    Width: 374px;
    Height: 110px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    color: #247A6B;
}

.FinishedOrder {
    margin-left: 30px;
}

.FinishedOrder .film-session {
    margin-top: 20px;
    margin-bottom: 40px;
}

.FinishedOrder .ticket {
    margin-bottom: 40px;
}

.FinishedOrder .client {
    margin-bottom: 60px;
}

.FinishedOrder h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #293845;
}

.FinishedOrder p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;  
    color: #293845;
}

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .btn {
    width: 225px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}